@media screen and (min-width: 972px) {
    header {
        width: 275px;
        height: 100vh;
        position: fixed;
    }

    .nav li {
        display: block;
    }

    main {
        margin-left: 275px;
        width: calc(100% - 275px);
    }
}

