<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <img src="/static/img/logo.png" alt="Cups Logo" align="left" width="75" height="75">
    {% if is_logged %}
    <a href="/blog/new">Add Blog</a>
    <form action="/disconnect" method="POST">
        <input type="submit" id="logout" value="Logout">
    </form>

    {% else %}
    <button id="signinButton">Login with Google</button>
    {% endif %}

</header>
<div>
    <nav>
        <ul>
            {% for category in categories %}
            <li><a href="/{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
<script src="/static/js/script.js"></script>
</body>
</html>